body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

svg {
    border: 2px dashed black;
    margin-top: 10px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.controls {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 15px;
    font-size:16px ;
    background-color: black;
    color:white
}

p {
    font-size: 18px;
    margin-top: 15px;
}